# Compiled class files
*.class

# Log files
*.log

# Maven specific files
target/

# IDE specific files
.idea/
*.iml
*.ipr
*.iws

# Java dependency files
*.jar
*.war
*.ear

# Test results
test-output/
surefire-reports/
reports/