<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/user-home.js}"></script>
</head>
<body>
<div class="container">
    <!--Display Registration Errors -->
    <div id="responseMessage" class="message" style="display:none">
        <p></p>
    </div>
    <h2 th:text="'Welcome, ' + ${userName} + '!'"></h2>
    <h1>Available Courses</h1>
    <table id="courses-table" class="course-table">
        <thead>
        <tr>
            <th>Course Title</th>
            <th>Description</th>
            <th>Instructor</th>
            <th>Duration</th>
            <th>Course Type</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody id="courses-list">
        <!-- Courses will be populated here -->
        </tbody>
    </table>
</div>
</body>
</html>